body {
    background: #f6f6f6;
}

.banner .swiper-pagination-bullet-active {
    background: #fff !important;
}

.conWidth {
    width: 1200px;
    margin: auto;
}

/*新闻热点部分的样式设置*/
.newsHotspot {
    position: relative;
    background: #f6f6f6;
    height: 770px;
}

.newsHotspot > h3 {
    width: 100%;
    height: 140px;
    line-height: 140px;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}

.newsHotspotBanner {
    margin: auto;
    height: 516px;
}

.newsHotspotBanner .swiper-wrapper {
    width: 100%;
}

.newsHotspotBanner .swiper-wrapper .swiper-slide {
    height: 100%;
    background: #fff;
    border-bottom: 2px solid #c67a48;
}

@media screen and (min-width: 1201px) {
    .newsHotspotBanner {
        width: 1200px;
    }
}

.newsHotspot .swiper-button-next {
    right: 10%;
    width: 60px !important;
    height: 60px !important;
    background: url("img/news/rightArrows.png") !important;
}

.newsHotspot .swiper-button-prev {
    left: 10%;
    width: 60px !important;
    height: 60px !important;
    background: url("img/news/leftArrows.png") !important;
}

.newsHotspot .swiper-pagination {
    position: absolute;
    width: 100%;
    bottom: 58px;
}

.newsHotspot .swiper-pagination-bullet {
    width: 12px !important;
    height: 12px !important;
    margin-right: 10px;
    background: #e6e6e6 !important;
    border: 1px solid #ccc9c9;
    opacity: 1 !important;
}

.newsHotspot .swiper-pagination-bullet-active {
    background: #ccc9c9 !important;
}

.newsHotspotBanner img {
    width: 100%;
    height: 288px;
}

.newsHotspotBanner .title {
    width: 100%;
    height: 178px;
}

.newsHotspotBanner .title h3 {
    font-size: 20px;
    color: #000;
    padding: 43px 30px 0 30px;
    line-height: 30px;
}

.newsHotspotBanner .time {
    width: 100%;
    height: 30px;
    line-height: 30px;
}

.newsHotspotBanner .time time {
    float: left;
    padding-left: 30px;
    color: #b6b6b6;
}

.newsHotspotBanner .time img {
    float: right;
    width: 26px;
    height: 12px;
    margin-right: 30px;
    margin-top: 10px;
    cursor: pointer;
}

/*国际一流的免税商品运营商*/
.transportBox {
    padding-bottom: 89px;
}

.transportBox div.container {
    padding: 0;
}

@media (min-width: 1200px) {
    .transportBox div.container {
        width: 1200px !important;
    }
}

.transportBox div.container div.row {
    margin: 0;
}

.transportBox div.container div.row:nth-child(1) > div.page-header {
    margin: 50px 0;
    border-bottom: none;
    font-size: 30px;
    font-weight: 500;
}

.transportBox div.container div.row:nth-child(1) > div.page-header h1 {
    font-size: 30px;
    font-weight: 500;
}

.transportBox div.container div.row:nth-child(2) > div {
    padding: 0 25px 25px 0;

}

.transportBox div.container div.row:nth-child(2) > div > div {
    height: 228px;
    border-top: 3px solid #c06f44;
    border-bottom: 3px solid #c06f44;
    padding: 0;

}

.transportBox div.container div.row:nth-child(2) span {
    color: #c06f44;
    font-size: 54px;
    font-weight: bold;
    margin-top: 64px;
    display: block;
}

.transportBox div.container div.row:nth-child(2) p {
    font-size: 17px;
    color: #565656;
}

@media (max-width: 768px) {
    .transportBox div.container div.row:nth-child(2) span {
        text-align: center;
    }

    .transportBox div.container div.row:nth-child(2) p {
        text-align: center;
    }
}

/*我们的事业领域*/
.field {
    background: #f6f6f6;
    padding: 0 !important;
}

@media (min-width: 1200px) {
    .field div.container {
        width: 1200px;
        padding: 0;
    }
}

.field div.container div.row {
    margin: 0;
}

.field div.container div.row:nth-child(1) > div.page-header {
    margin: 50px 0;
    border-bottom: none;
    font-size: 30px;
    font-weight: 500;
}

.field div.container div.row:nth-child(1) > div.page-header h1 {
    font-size: 30px;
    font-weight: 500;
}

.field div.container div.row:nth-child(2) > div {
    padding: 0;
}

.field div.container div.row:nth-child(2) > div img {
    position: relative;
}

.field div.container div.row:nth-child(2) > div div {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.field div.container div.row:nth-child(2) > div div > h3 {
    color: #fff;
    float: left;
    font-size: 26px;
    font-weight: bold;
    padding: 0 0 39px 41px;
}

.field div.container div.row:nth-child(2) > div div > img {
    float: right;
    margin-top: 10px;
    padding-right: 30px;
}

.field div.container div.row:nth-child(3) div {
    padding: 0;
    margin: 15px;
}

.field div.container div.row:nth-child(3) button {
    width: 100%;
    border: 1px solid #ebebeb;
    background: #fff;
    color: #565656;
    height: 58px;
}

.serachMenDian {
    margin-top: 39px;
    margin-bottom: 80px;
    width: 100%;
    height: 60px;
    background: #c06f44;
    color: #fff;
    border: none;
}

/*免税店*/
.taxExemption {
    position: relative;
    margin-top: 102px;
    padding-bottom: 111px;
}

@media (min-width: 1200px) {
    .taxExemption div.container {
        width: 1200px;
        padding: 0;
    }
}

.taxExemption .swiper-button-next {
    right: 10%;
    width: 60px !important;
    height: 60px !important;
    background: url("img/news/rightArrows.png") !important;
}

.taxExemption .swiper-button-prev {
    left: 10%;
    width: 60px !important;
    height: 60px !important;
    background: url("img/news/leftArrows.png") !important;
}

.taxExemption .swiper-pagination {
    position: absolute;
    width: 100%;
    bottom: 58px;
}

.taxExemption .swiper-pagination-bullet {
    width: 12px !important;
    height: 12px !important;
    margin-right: 10px;
    background: #fff !important;
    border: 1px solid #ccc9c9;
    opacity: 1 !important;
}

.taxExemption .swiper-pagination-bullet-active {
    background: #ccc9c9 !important;
}

.taxExemptionBanner .swiper-slide {
    margin-top: -3px;
    border: 1px solid #ebebeb;
}

.taxExemptionBanner .title {
    height: 60px;
}

.taxExemptionBanner .title h3 {
    line-height: 60px;
    text-align: center;
    font-size: 20px;
    color: #000;
}

.taxExemption img {
    width: 100%;
}

/*加入中免会员*/
.addMember {
    width: 100%;
    background-image: url("img/member/memberbg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

@media (min-width: 1200px) {
    .addMember div.container {
        width: 1200px;
        padding: 0;
    }

    .col-zdlg-2-5 {
        float: left !important;
        width: 20% !important;
    }
}

.addMember div.container div.row {
    margin: 0;
}

.addMember div.container div.row h1 {
    color: #fff;
    padding-top: 86px;
    font-size: 30px;
}

.addMember div.container div.row div {
    text-align: center;
}

.addMember div.container div.row div h3 {
    padding-top: 25px;
    color: #fff;
    font-size: 20px;
}

.addMember div.container div.row:nth-child(2) {
    padding-top: 59px;
    padding-bottom: 67px;
}

.addMember div.container div.row:nth-child(3) {
    padding: 0 78px;
}

.addMember div.container div.row:nth-child(3) div h3 {

    font-size: 19px;
    color: #fff;
}

.addMember div.container div.row:nth-child(3) div p {
    padding-top: 24px;
    font-size: 15px;
    color: #c06f44;
}
.addMember div.container div.row:nth-child(4){
    padding: 64px 0 69px 0;
    text-align: center;
}
.addMember div.container div.row:nth-child(4) button{
width: 25%;
    height: 58px;
    border: 1px solid #c06f44;
    background: none;
    font-size: 14px;
    color: #c06f44;
}


